﻿@using AppointmentManagerApp.Models.Notification.ViewModel;

@{
	ViewData["Title"] = "Уведомления";
}

<div class="panel-heading">
	<h3 class="panel-title">
		Ваши способы уведомлений
	</h3>
</div>
<div class="panel-body">
	@using (Html.BeginForm())
	{
		<ul>
			<li class="list-group-item">
				@foreach (string channel in ViewBag.Notifications.Channels)
				{
					<p>@channel</p>
				}				
			</li>
		</ul>
		<button type="button"
				class="btn btn-outline-info"
				onclick="location.href='https://localhost:7290/Notification'">
			@Html.ActionLink("Отправить пробное уведомление", "SendTestMessage", "Notification")
		</button>
		<button type="button" 
			class="btn btn-outline-success" 
			onclick="location.href='https://localhost:7290/Notification'">
			Добавить новый канал
		</button>
		<button type="button"
			class="btn btn-outline-danger"
			onclick="location.href='https://localhost:7290/Notification'">
			Удалить канал
		</button>
	}
</div>