﻿@using AppointmentManagerApp.Models.Admin.ViewModel;
@model CreateUserByAdminVm
@{
    bool showErrorMessage = Model is not null
                        && Model.IsCreationSucceed.HasValue
                        && Model.IsCreationSucceed.Value == false
                        && !string.IsNullOrEmpty(Model.ErrorMessage);
}

<button type="button" class="list-group-item list-group-item-action" data-bs-toggle="modal" data-bs-target="#createUserModal">Зарегистрировать нового пользователя</button>

<div class="modal fade" id="createUserModal" tabindex="-1" aria-labelledby="createUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="createUserModalLabel">Зарегистрировать нового пользователя</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            @using (Html.BeginForm("CreateUser", "Admin", FormMethod.Post, new { @id = "createUserForm" }))
            {
                <div class="modal-body">
                    <fieldset>
                        <div class="editor-label">
                            @Html.LabelFor(m => m.FirstName)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(m => m.FirstName)
                            <small class="text-danger">@Html.ValidationMessageFor(m => m.FirstName)</small>
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(m => m.LastName)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(m => m.LastName)
                            <small class="text-danger">@Html.ValidationMessageFor(m => m.LastName)</small>
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(m => m.Email)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(m => m.Email)
                            <small class="text-danger">@Html.ValidationMessageFor(m => m.Email)</small>
                        </div>

                        <div class="modal-footer">
                            @if (showErrorMessage)
                            {
                                <div class="alert alert-danger" role="alert">
                                    @Html.DisplayFor(m => m.ErrorMessage)
                                </div>
                            }
                            <input type="submit" class="btn btn-primary" value="Зарегистрировать пользователя" />
                        </div>
                    </fieldset>
                </div>
            }

        </div>
    </div>
</div>

<script>
    const exampleModal = document.getElementById('createUserModal')

    if (exampleModal) {
        exampleModal.addEventListener('hide.bs.modal', event => {
            var validator = $('#createUserForm').validate();
            $('#createUserForm').find('.field-validation-error span').each(function () {
                validator.settings.success($(this));
            });
            validator.resetForm();
            $('#createUserForm').find('input[data-val="true"]').each(function () {
                $(this).val("");
            })
        })       
    }
</script>

