﻿@model IndexModel
@{
    ViewData["Title"] = "Администрирование";
}

<h3>Администрирование</h3>

<div class="container text-center">
    <div class="row">
        <div class="col-4">
            @Html.Partial("_AdminMenu.cshtml")
        </div>
        <div class="col-8">
            
        </div>
    </div>
</div>