﻿@using AppointmentManagerApp.Models.Admin.ViewModel;
@model UserManagementVm
@{
    ViewData["Title"] = "Администрирование - управление пользователями";
    ViewData["AdminMenuActiveItem"] = "UserManagement";
}

<div class="container text-center">
    <div class="row">
        <div class="col-2">
            @Html.Partial("_AdminMenu.cshtml")
        </div>        

        <div class="col-10">

            @if (!string.IsNullOrEmpty(Model?.ErrorMessage))
            {
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    @Model.ErrorMessage
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }

            @if (!string.IsNullOrEmpty(Model?.SuccessMessage))
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    @Model.SuccessMessage
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Имя</th>
                        <th scope="col">Фамилия</th>
                        <th scope="col">Телефон</th>
                        <th scope="col">Email</th>
                        <th scope="col">Промокод</th>
                        <th scope="col">Роль</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int count = 1; count < Model.Users.Count(); count++)
                    {
                        var user = Model.Users.ElementAt(count - 1);
                        <tr>
                            <th scope="row">@count</th>
                            <td>@user.FirstName</td>
                            <td>@user.LastName</td>
                            <td>@user.PhoneNumber</td>
                            <td>@user.Email</td>
                            <td>@user.Promocode</td>
                            <td>@user.Role</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>