﻿@using AppointmentManagerApp.Models.Membership.ViewModel;
@using AppointmentManagerApp.ViewComponents;
@using AppointmentManagerApp.Controllers;
@model IndexModel
@{
    ViewData["Title"] = Model?.AppTitle;
}

@if (!string.IsNullOrEmpty(Model?.ErrorMessage))
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        @Model.ErrorMessage
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (!string.IsNullOrEmpty(Model?.SuccessMessage))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @Model.SuccessMessage
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


@if (User?.Identity?.IsAuthenticated ?? false)
{
    <p class="m-0" align="left">
        @await Component.InvokeAsync("Membership")
    </p>


    @Html.Partial("~/Views/Membership/_BuyMembership.cshtml", new MembershipViewModel())
}
else
{
    <p class="m-0" align="left">
        Приложение для записи в тренажерный зал. Зарегистрируйтесь или войдите в систему, чтобы получить доступ к функциям.
    </p>
}

