﻿@using AppointmentManagerApp.Models.User.ViewModel;
@model UserVm
@{
    ViewData["Title"] = "Зарегистрироваться";
    bool showErrorMessage = Model is not null 
                            && Model.IsCreationSucceed.HasValue 
                            && Model.IsCreationSucceed.Value == false
                            && !string.IsNullOrEmpty(Model.ErrorMessage);
}

<div class="panel-heading">
    <h3 class="panel-title">
        Регистрация
    </h3>
</div>
<div class="panel-body">
    @using (Html.BeginForm())
    {
        <div>
            <fieldset>
                <div class="editor-label">
                    @Html.LabelFor(m => m.FirstName)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.FirstName)
                    <small class="text-danger">@Html.ValidationMessageFor(m => m.FirstName)</small>
                </div>

                <div class="editor-label">
                    @Html.LabelFor(m => m.LastName)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.LastName)
                    <small class="text-danger">@Html.ValidationMessageFor(m => m.LastName)</small>
                </div>

                <div class="editor-label">
                    @Html.LabelFor(m => m.Email)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.Email)
                    <small class="text-danger">@Html.ValidationMessageFor(m => m.Email)</small>
                </div>

                <div class="editor-label">
                    @Html.LabelFor(m => m.Password)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(m => m.Password)
                    <small class="text-danger">@Html.ValidationMessageFor(m => m.Password)</small>
                </div>

                <div class="editor-label">
                    @Html.LabelFor(m => m.Promocode)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.Promocode)
                    <small class="text-danger">@Html.ValidationMessageFor(m => m.Promocode)</small>
                </div>

                <div class="editor-label">
                    @Html.LabelFor(m => m.PhoneNumber)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.PhoneNumber)
                    <small class="text-danger">@Html.ValidationMessageFor(m => m.PhoneNumber)</small>
                </div>

                <div class="pt-4">
                    @if (showErrorMessage)
                    {
                        <div class="alert alert-danger" role="alert">
                            @Html.DisplayFor(m => m.ErrorMessage)
                        </div>
                    }
                    <input type="submit" class="btn btn-primary" value="Зарегистрироваться" />
                </div>
            </fieldset>
        </div>
    }
</div>