﻿@using AppointmentManagerApp.Models.User.ViewModel;
@model UserVm
@{
    ViewData["Title"] = "Профиль";
}

<div class="panel-heading">
    <h3 class="panel-title">
        Профиль
    </h3>
</div>
<div class="panel-body">
    @using (Html.BeginForm())
    {
        <ul class="list-group">
            <li class="list-group-item">
                <h4 class="editor-label">
                    @Html.LabelFor(m => m.FirstName)
                </h4>
                <div class="editor-field">
                    @Html.ValueFor(m => m.FirstName)
                </div>
            </li>
            <li class="list-group-item">
                <h4 class="editor-label">
                    @Html.LabelFor(m => m.LastName)
                </h4>
                <div class="editor-field">
                    @Html.ValueFor(m => m.LastName)
                </div>
            </li>
            <li class="list-group-item">
                <h4 class="editor-label">
                    @Html.LabelFor(m => m.Email)
                </h4>
                <div class="editor-field">
                    @Html.ValueFor(m => m.Email)
                </div>
            </li>
            <li class="list-group-item">
                <h4 class="editor-label">
                    @Html.LabelFor(m => m.PhoneNumber)
                </h4>
                <div class="editor-field">
                    @Html.ValueFor(m => m.PhoneNumber)
                </div>
            </li>            
            @if (Model.Discount.HasValue)
            {

                <li class="list-group-item">
                    <h4 class="editor-label">
                        @Html.LabelFor(m => m.Discount)
                    </h4>
                    <div class="editor-field">
                        @Html.ValueFor(m => m.Discount) %
                    </div>
                </li>
            }
        </ul>
        <div calss="list-group-item">
            <h4 class="h4">
                Управление уведомлениями
            </h4>
            <button type="button" class="btn btn-outline-primary" onclick="location.href='https://localhost:7290/Notification'">Уведомления</button>
        </div>
    }
</div>