﻿@using AppointmentManagerApp.Models.Auth.Domain;
@{
}


@if (User?.Identity?.IsAuthenticated ?? false)
{	
	<p class="m-0" align="right">
		@Html.ActionLink(User.Identity.Name, "Index", "User") | @Html.ActionLink("Выйти", "SignOut", "Auth")
	</p>
}
else
{
	<p class="m-0" align="right">
		@Html.ActionLink("Войти", "Login", "Auth") | @Html.ActionLink("Регистрация", "Create", "User")
	</p>
}

