﻿@using AppointmentManagerApp.Models.Auth.ViewModel;
@model LoginVm
@{
    ViewData["Title"] = "Войти";
}
<div class="panel-heading">
    <h3 class="panel-title">
        Вход        
    </h3>
</div>
<div class="panel-body">
    @using (Html.BeginForm())
    {
        <div>
            <fieldset>
                <div class="editor-label">
                    @Html.LabelFor(m => m.Email)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.Email)
                    <small class="text-danger">@Html.ValidationMessageFor(m => m.Email)</small>
                </div>

                <div class="editor-label">
                    @Html.LabelFor(m => m.Password)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(m => m.Password)
                    <small class="text-danger">@Html.ValidationMessageFor(m => m.Password)</small>
                </div>

                <div class="pt-4">
                    @if(Model?.IsLoginFailed ?? false)
                    {
                        <div class="alert alert-danger" role="alert">
                            Не верный логин или пароль.
                        </div>
                    }
                    <input type="submit" class="btn btn-primary" value="Войти" />
                </div>
            </fieldset>
        </div>
    }
</div>