﻿@using AppointmentManagerApp.Models.Schedule;
@model ScheduleModel
@{
    ViewData["Title"] = "Записи";
}

<div class="panel-heading">
    <h3 class="panel-title">
	    Записи
    </h3>
</div>
<div class="panel-body">
    @using (Html.BeginForm())
    {
        <div>
            <fieldset>
	            @foreach (var schedule in Model.Schedules ?? Enumerable.Empty<Schedule>())
                {
					<div class="editor-label">
						Занятие
					</div>
	                <div class="editor-label">
		                Начало
	                </div>
	                <div class="editor-field">
		                @schedule.StartTime
	                </div>
	                <div class="editor-label">
		                Конец
	                </div>
	                <div class="editor-field">
		                @schedule.EndTime
	                </div>
	                <br/>
                }
            </fieldset>
        </div>
    }
</div>