﻿@using AppointmentManagerApp.Models.Membership.ViewModel;
@model MembershipViewModel
@{
    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
            {
                Text = "Один зал",
                Value = "Один зал"
            });
    listItems.Add(new SelectListItem
            {
                Text = "Все залы клуба",
                Value = "Все залы клуба",
                Selected = true
            });
}

<button type="button" class="" data-bs-toggle="modal" data-bs-target="#buyMembershipModal">Купить абонемент</button>

<div class="modal fade" id="buyMembershipModal" tabindex="-1" aria-labelledby="buyMembershipModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content p-4">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="buyMembershipModalLabel">Купить абонемент</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>


    @using (Html.BeginForm("CreateMembership", "Membership", FormMethod.Post, new { @id = "buyMembershipForm" }))
    {
        <div>
            <fieldset>
                <div class="editor-label">
                    @Html.LabelFor(m => m.StartDate)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.StartDate, new { @placeholder=DateTime.Now.ToString("dd.MM.yyyy")})
                </div>

                <div class="editor-label">
                    @Html.LabelFor(m => m.Duration)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.Duration)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(m => m.Type)
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(m=> m.Type, listItems)
                </div>

                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="Купить" />
                </div>
            </fieldset>
        </div>
    }
        </div>
    </div>
</div>

