﻿@using AppointmentManagerApp.Models.Membership.ViewModel;
@model UserMembershipsViewModel
@{
}

<div class="panel-heading">
    <h3 class="panel-title">
        Мои абонементы:
    </h3>
</div>
<div class="panel-body">
    @if (Model.Memberships?.Any() ?? false)
    {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Тип</th>
                        <th scope="col">Дата начала</th>
                        <th scope="col">Дата окончания</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var membership in Model.Memberships)
                    {
                    
                        <tr>
                           <td>@membership.Type</td>
                           <td>@membership.StartDate</td>
                           <td>@membership.EndDate</td>
                        </tr>
                    }
                </tbody>
            </table>        
        
    }
    else
    {
        <p>У вас пока нет абонементов</p>
    }   
    
</div>
@*
@Html.Partial("_BuyMembership.cshtml")
*@